# Backend
backend/venv/
backend/__pycache__/
backend/.env
backend/instance/
instance/

# Frontend
frontend/node_modules/
frontend/.env
npm-debug.log*

# Environment variables
.env

# VSCode or IDE settings
.vscode/
.idea/